<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gentelella Alela! | </title>

    <!-- Bootstrap -->
    <link href="/vendor/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/vendor/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/vendor/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="/vendor/vendors/animate.css/animate.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/build/css/custom.min.css" rel="stylesheet">
  </head>

  <body class="login" >
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form action="/signin" method="post" name="frmIn" data-parsley-validate>
              <h1>Sign In</h1>
              <% if(locals.messages.warn){%>
                <div class="alert alert-warning alert-dismissible" role="alert" style="width:100%;">
                    <strong>Warning!</strong><br><%=messages.warn%>
                </div>
                <%}%>

                <% if(locals.messages.success){%>
                  <div class="alert alert-success alert-dismissible" role="alert" style="width:100%;">
                      <strong>Success!</strong><br><%=messages.success%>
                  </div>
                  <%}%>
              <div>
                <input type="email" id="emailIn" class="form-control" name="emailIn" placeholder="Email" required>
              </div>
              <div>
                <input type="password" id="passwordIn" class="form-control" name="passwordIn" placeholder="Password" required>
              </div>
              <div class="row">
                  <div class="col-xs-8 p-t-5">
                      <input type="checkbox" name="rememberme" id="rememberme" class="filled-in chk-col-pink">
                      <label for="rememberme">Remember Me</label>
                  </div>
              </div><p></p>
              <div class="move">
                <button type="submit" class="submit">Sign In</button>
              </div>
              <div class="clearfix"></div>

              <div class="separator">
                <!-- <p class="change_link">New to site?
                  <a href="#signup" class="to_register"> Create Account </a>
                </p>

                <div class="clearfix"></div>
                <br /> -->

                <div>
                  <h1><i class="fa fa-tree"></i>Restaurant Garden</h1>
                </div>
              </div>
            </form>
          </section>
        </div>

        <!-- <div id="register" class="animate form registration_form">
          <section class="login_content">
            <form  action="/signup" method="post" name="frm" data-parsley-validate>
              <h1>Sign Up</h1>
              <div>
                <input type="text" id="name" class="form-control" name="name" placeholder="Username" required>
              </div>
              <div>
                <input type="email" id="email" class="form-control" name="email" placeholder="Email" required>
              </div>
              <div>
                <input type="password" id="password" class="form-control" name="password" placeholder="Password" required>
              </div>
              <div>
                <button class="btn btn-default submit" type="submit">Submit</button>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">Already a member?
                  <a href="/signin" class="to_register"> Sign In </a>
                </p>

                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><i class="fa fa-tree"></i> Restaurant Garden</h1>
                </div>
              </div>
            </form>
          </section>
        </div> -->
      </div>
    </div>
  </body>
  <script src="/vendor/vendors/jquery/dist/jquery.min.js"></script>
  <script src="/javascripts/js.cookie.js" charset="utf-8"></script>
  <script type="text/javascript">
  $(function(){
    frmIn.onsubmit = function(){
      console.log('submit');
      if(frmIn.rememberme.checked){
        console.log('checked');
      Cookies.set('emailIn', frmIn.emailIn.value, { expires: 7 });
      }else{
        Cookies.remove("emailIn");
      }
    }
    if(Cookies.get("emailIn")){
      frmIn.emailIn.value = Cookies.get("emailIn");
      frmIn.rememberme.checked = true;
    }
  });

  // $('#email').blur(function () {
  //   console.log('call back');
  //   var data = { email: $('#email').val()};
  //   if(data.email == '') return ;
  //   $.ajax({url: "/signup/duplicate", data:data, type: 'POST', success: function (result) {
  //     if (result.status == false) {
  //       alert(result.msg);
  //       $('#email').val('');
  //       $('#email').focus();
  //     }
  //   }});
  // });

</script>
</html>
